@font-face {
    font-family: "Arad";
    src: url(./font/AradVF.woff2) format(woff2);
}
:root{
    --main-font:"Arad";
}
body{
    font-family:var(--main-font) ;
    background-image: url(./photos/light-back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    direction: rtl;
}
.first-title{
    direction: ltr;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 20px;
}
.second-title{
    direction: ltr;
    font-size: 20px;
    margin-bottom: 2rem;
}
.dropdown{
    margin-bottom: 3rem;
    border-radius: 5px;
}
.menu-button1{
    font-family: var(--main-font);
    display: block;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}
.menu-button2{
    font-family: var(--main-font);
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}
.menu1{
    display: none;
}
.menu1.show{
    display: contents;
    margin: 2rem;
}

.menu2{
    display: none;
}
.menu2.show{
    
    display: contents;
}
.title{
    margin-right: 4rem;
}
.title2{
    margin-right: 5rem;
}
.button-tab{
    font-family: var(--main-font);
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}
.mohtava.active{
    display: block;
    margin: 0.5rem;
    text-align: justify;
}

.mohtava{
    display: none;
    /*border: 1px solid black;
    padding: 10px;*/
}
.caption2{
  display: block;
  margin-top: 1.1rem;
  color:blue
}
.read-more{
    color: rgb(107, 193, 85);
}
.modal{
    display: none;
    position: fixed;
    inset: 0;
}
.modal.show{
    display: flex;
    background-color: rgb(219, 245, 245);
    border-radius: 8px;
    box-shadow: 5px 5px 30px gray;
    width: 190px;
    height: 250px;
    text-align: right;
    margin-top: 10rem;
    margin-right: 3rem;
    padding: 15px;
    padding-top: 3px;
    padding-right: 15px;
}
.cancel{
    display: none;
}
.cancel.active{
    display: block;
    background-color: rgb(246, 163, 168);
    border-radius: 5px;
    font-family: var(--main-font);
    transform: translateY(200px);
    position: absolute;
    left: 2rem;
    width: 70%;
    height: 20%;
}
/*.cancel{
    background-color: green;
    border-radius: 5px;
    font-family: var(--main-font);
    width: 10%;

    this is for little button
}*/
/*.cancel{
    background-color: rgb(192, 179, 224);
    border-radius: 5px;
    font-family: var(--main-font);
    width: 40%;
    height: 30%;
    this is for little button
}*/

/* ..................this is for  large mobile mode...............*/
@media (min-width:425px) 
{
    @font-face {
    font-family: "Arad";
    src: url(./font/AradVF.woff2) format(woff2);
}
:root{
    --main-font:"Arad";
}
body{
    font-family:var(--main-font) ;
    background-image: url(./photos/light-back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    direction: rtl;
}
.first-title{
    direction: ltr;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 20px;
}
.second-title{
    direction: ltr;
    font-size: 20px;
    margin-bottom: 2rem;
}
.dropdown1{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    margin-bottom: 3rem;
    border-radius: 5px;
}
.menu-button1{
    font-family: var(--main-font);
    display: block;
    margin-bottom: 0.5rem;
    margin-right: 3.5rem;
    border-radius: 5px;
}
.dropdown2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    border-radius: 5px;
}
.menu-button2{
    font-family: var(--main-font);
    display: block;
    transform: translateY(-103px);
    margin-right: 7.5rem;
    /*margin-top: 2rem;
    margin-bottom: 0.5rem;*/
    border-radius: 5px;
}
.menu1{
    display: none;
}
.menu1.show{
     position: absolute;
    top: 7rem;
    left: 16rem;
    display: inline;
    margin: 0;
}

.menu2{
    
    display: none;
}
.menu2.show{
    position: absolute;
    top: 7rem;
    left: 6rem;
    display: inline;
    margin: 0;
}
.title{
    margin-right: 7rem;
}
.title2{
    margin-right: 5rem;
}
.tab-section{
    margin-right: 1rem;
    margin-left: 0.5rem;
}
.button-tab{
    font-family: var(--main-font);
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}
.mohtava.active{
    display: block;
    margin: 0.5rem;
    text-align: justify;
}

.mohtava{
    display: none;
    /*border: 1px solid black;
    padding: 10px;*/
}
.caption2{
  display: block;
  margin-top: 1.1rem;
  color:blue
}
.read-more{
    color: rgb(107, 193, 85);
}
.modal{
    display: none;
    position: fixed;
    inset: 0;
    /*backdrop-filter: blur(7px);*/
}
.modal.show{
    display: flex;
    background-color: rgb(219, 245, 245);
    border-radius: 8px;
    box-shadow: 5px 5px 30px gray;
    width: 190px;
    height: 250px;
    text-align: right;
    margin-top: 10rem;
    margin-right: 6rem;
    padding: 15px;
    padding-top: 3px;
    padding-right: 15px;
}
.cancel{
    display: none;
}
.cancel.active{
    display: block;
    background-color: rgb(246, 163, 168);
    border-radius: 5px;
    font-family: var(--main-font);
    transform: translateY(200px);
    position: absolute;
    left: 2rem;
    width: 70%;
    height: 20%;
}
/*.cancel{
    background-color: green;
    border-radius: 5px;
    font-family: var(--main-font);
    width: 10%;

    this is for little button
}*/
/*.cancel{
    background-color: rgb(192, 179, 224);
    border-radius: 5px;
    font-family: var(--main-font);
    width: 40%;
    height: 30%;
    this is for little button
}*/

    
}


/* ..................this is for  tablet mode...............*/
@media (min-width:768px) 
{
    @font-face {
    font-family: "Arad";
    src: url(./font/AradVF.woff2) format(woff2);
}
:root{
    --main-font:"Arad";
}
body{
    font-family:var(--main-font) ;
    background-image: url(./photos/light-back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    direction: rtl;
}
.first-title{
    direction: ltr;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 20px;
}
.second-title{
    direction: ltr;
    font-size: 20px;
    margin-bottom: 2rem;
}
.dropdown1{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    margin-bottom: 3rem;
    border-radius: 5px;
}
.menu-button1{
    font-family: var(--main-font);
    display: block;
    margin-bottom: 0.5rem;
    margin-right: 10.5rem;
    border-radius: 5px;
}
.dropdown2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    border-radius: 5px;
}
.menu-button2{
    font-family: var(--main-font);
    display: block;
    transform: translateY(-103px);
    margin-right: 12.5rem;
    /*margin-top: 2rem;
    margin-bottom: 0.5rem;*/
    border-radius: 5px;
}
.menu1{
    display: none;
}
.menu1.show{
    position: absolute;
    top: 7rem;
    left: 30.5rem;
    display: inline;
    margin: 0;
}

.menu2{
    display: none;
}
.menu2.show{
    position: absolute;
    top: 7rem;
    left: 15rem;
    display: inline;
    margin: 0;
}
.title{
    margin-right: 18rem;
}
.title2{
    margin-right: 5rem;
}
.tab-section{
    margin-right: 2rem;
    margin-left: 0.5rem;
}
.button-tab{
    font-family: var(--main-font);
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}
.mohtava.active{
    display: block;
    margin: 0.5rem;
    text-align: justify;
}

.mohtava{
    display: none;
    /*border: 1px solid black;
    padding: 10px;*/
}
.caption2{
  display: block;
  margin-top: 1.1rem;
  color:blue
}
.read-more{
    color: rgb(107, 193, 85);
}
.modal{
    display: none;
    position: fixed;
    inset: 0;
}
.modal.show{
    display: flex;
    background-color: rgb(219, 245, 245);
    border-radius: 8px;
    box-shadow: 5px 5px 30px gray;
    width: 190px;
    height: 250px;
    text-align: right;
    margin-top: 10rem;
    margin-right: 17rem;
    padding: 15px;
    padding-top: 3px;
    padding-right: 15px;

}
.cancel{
    display: none;
}
.cancel.active{
    display: block;
    background-color: rgb(246, 163, 168);
    border-radius: 5px;
    font-family: var(--main-font);
    transform: translateY(200px);
    position: absolute;
    left: 2rem;
    width: 70%;
    height: 20%;
}
/*.cancel{
    background-color: green;
    border-radius: 5px;
    font-family: var(--main-font);
    width: 10%;

    this is for little button
}*/
/*.cancel{
    background-color: rgb(192, 179, 224);
    border-radius: 5px;
    font-family: var(--main-font);
    width: 40%;
    height: 30%;
    this is for little button
}*/
}

/* ..................this is for desktop mode...............*/
@media (min-width:1024px) 
{
    @font-face {
    font-family: "Arad";
    src: url(./font/AradVF.woff2) format(woff2);
}
:root{
    --main-font:"Arad";
}
body{
    font-family:var(--main-font) ;
    background-image: url(./photos/light-back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    direction: rtl;
}
.first-title{
    direction: ltr;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 30px;
}
.second-title{
    direction: ltr;
    font-size: 30px;
    margin-bottom: 2rem;
}
.dropdown1{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    margin-bottom: 3rem;
    border-radius: 5px;
}
.menu-button1{
    font-family: var(--main-font);
    font-size: 20px;
    display: block;
    margin-bottom: 0.5rem;
    margin-right: 16.5rem;
    border-radius: 5px;
}
.dropdown2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    border-radius: 5px;
}
.menu-button2{
    font-family: var(--main-font);
    font-size: 20px;
    display: block;
    transform: translateY(-115px);
    margin-right: 17.5rem;
    /*margin-top: 2rem;
    margin-bottom: 0.5rem;*/
    border-radius: 5px;
}
.menu1{
    display: none;
}
.menu1.show{
    font-size: 19px;
    position: absolute;
    top: 8rem;
    left: 39rem;
    display: inline;
    margin: 0;
}

.menu2{
    display: none;
}
.menu2.show{
    font-size: 19px;
    position: absolute;
    top: 8rem;
    left: 20rem;
    display: inline;
    margin: 0;
}
.title{
    font-size: 25px;
    margin-right: 24rem;
}
.title2{
    margin-right: 5rem;
}
.tab-section{
    margin-right: 2rem;
    margin-left: 1rem;
}
.button-tab{
    font-family: var(--main-font);
    font-size: 20px;
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}

.mohtava{
    display: none;
    /*border: 1px solid black;
    padding: 10px;*/
}

.mohtava.active{
    font-size: 20px;
    display: block;
    margin: 0.5rem;
    text-align: justify;
}

.caption2{
  display: block;
  margin-top: 1.1rem;
  color:blue
}
.read-more{
    color: rgb(107, 193, 85);
}
.modal{
    display: none;
    position: fixed;
    inset: 0;
}
.modal.show{
    display: flex;
    background-color: rgb(219, 245, 245);
    border-radius: 8px;
    box-shadow: 5px 5px 30px gray;
    width: 190px;
    height: 360px;
    text-align: right;
    margin-top: 10rem;
    margin-right: 24rem;
    padding: 15px;
    padding-top: 3px;
    padding-right: 35px;

}
.cancel{
    display: none;
}
.cancel.active{
    font-size: 20px;
    display: block;
    background-color: rgb(246, 163, 168);
    border-radius: 5px;
    font-family: var(--main-font);
    transform: translateY(290px);
    position: absolute;
    left: 2rem;
    width: 70%;
    height: 20%;
}
/*.cancel{
    background-color: green;
    border-radius: 5px;
    font-family: var(--main-font);
    width: 10%;

    this is for little button
}*/
/*.cancel{
    background-color: rgb(192, 179, 224);
    border-radius: 5px;
    font-family: var(--main-font);
    width: 40%;
    height: 30%;
    this is for little button
}*/

    
}